@import "../../../../assets/styles/variables.scss";

.fix {
  background-color: $primary-color-bold;
  padding-top: 70px;
  padding-bottom: 90px;
  .container {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .dn__title {
      span {
        color: $secondary-color !important;
      }
    }
    &__title {
      color: $secondary-color;
      font-size: $font-size-xxl;
      max-width: max-content;
      border-bottom: 1px solid $secondary-color;
      font-weight: 700;
    }
    &__selectors {
      display: flex;
      align-items: center;
      gap: 90px;
      color: $secondary-color;
    }
  }
  &__blocks {
    width: 71%;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  &__block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    &__top {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      .title {
        font-weight: 600;
        font-size: $font-size-xl;
        color: $secondary-color;
      }
      .time {
        background: $secondary-color;
        color: $primary-color-no-gradient;
        padding: 10px;
        border-radius: 5px;

        font-weight: 600;
        font-size: $font-size-lg;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
  &__match {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 10px;
    background-color: #133593 !important;
    padding: 0px 24px;
    &__team {
      display: flex;
      align-items: center;
      gap: 16px;
      .title {
        //styleName: H5;
        font-family: Plus Jakarta Sans;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.01em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
    }
    &__noun {
      position: relative;
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        color: black;
        transform: translate(-50%, -50%);

        font-weight: 600;
        font-size: $font-size-lg;
      }
    }
  }
}
