.user-page,
.league-page,
.club-page,
.player-page,
.badge-form-page,
.prize-form-page {
	padding: 40px;
	background-color: #f7f9fc;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
	.title {
		margin-bottom: 30px;
		font-size: 32px;
		text-align: center;
		color: #333;
		font-weight: 700;
	}

	.user-form,
	.league-form,
	.club-form,
	.player-form,
	.badge-form,
	.prize-form {
		background-color: #fff;
		padding: 30px;
		border-radius: 8px;
		max-width: 800px;
		margin: 0 auto;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

		.league-group {
			.league-checkboxes {
				.league-checkbox {
					margin-top: 10px;
					display: flex;
					justify-content: center;
					align-items: center;
					input {
						margin: 0;
					}
					label {
						margin: 0;
						margin-left: 10px;
					}
				}
			}
		}

		.form-group {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 20px;

			label {
				flex: 1 0 200px;
				font-weight: 500;
				color: #555;
				align-self: center;
				margin-bottom: 5px;
			}

			input,
			select {
				flex: 1 1 calc(100% - 220px);
				padding: 10px 15px;
				border: 1px solid #ccc;
				border-radius: 4px;
				font-size: 16px;
				color: #333;
				background-color: #fafafa;
				transition: border-color 0.3s;

				&:focus {
					border-color: #007bff;
					outline: none;
					background-color: #fff;
				}
			}

			input[type='checkbox'] {
				flex: 0;
				margin-left: 10px;
				align-self: center;
			}
		}

		.btn-save {
			display: inline-block;
			padding: 12px 30px;
			background-color: #007bff;
			color: #fff;
			border: none;
			border-radius: 4px;
			font-size: 16px;
			font-weight: 500;
			cursor: pointer;
			transition: background-color 0.3s;
			margin-top: 20px;

			&:hover {
				background-color: #0056b3;
			}

			&:focus {
				outline: none;
				box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
			}
		}
	}

	.loader,
	.error-message {
		font-size: 18px;
		color: #ff0000;
		text-align: center;
		margin-top: 50px;
	}
}

.player-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	.player-select {
		box-sizing: border-box;
		width: 75%;
	}
	& > button {
		box-sizing: border-box;
		width: 20%;
	}
}
.player-btn {
	margin-bottom: 20px;
}
.head-to-head {
	display: block !important;
}
.h2h-input {
	display: block;
	margin-top: 15px;
}

/* Responsive Styles */
@media (max-width: 768px) {
	.user-form,
	.league-form,
	.club-form,
	.player-form,
	.badge-form,
	.prize-form {
		padding: 20px;

		.form-group {
			flex-direction: column;

			label {
				flex: none;
				margin-bottom: 5px;
			}

			input,
			select {
				flex: none;
				width: 100%;
			}

			input[type='checkbox'] {
				margin-left: 0;
				margin-top: 10px;
			}
		}

		.btn-save {
			width: 100%;
			text-align: center;
		}
	}
}
.gameweek-selector {
	display: flex;
	justify-content: center;
	align-items: center;
	select {
		padding: 5px 12px;
		background-color: #007bff;
		font-size: 16px;
		color: white;
		border: none !important;
		border-radius: 4px;
		font-weight: bold;
	}
}
